# Build LaTeX
build/*

# tiene il pdf
!build/appunti_fisica2.pdf

# tiene le immagini
!build/figure

# File temporanei
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bcf
*.run.xml

# Mac
.DS_Store